<div class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2>
    <h1 class="text-center">Login de Usu&aacute;rio</h1>
    <p>Fa&ccedil;a login com uma dessas contas sociais dispon&iacute;veis...</p>
    <button class="btn btn-block" type="" style="background: #dd3d5b;color: rgb(255,255,255);">
      <i class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram
    </button>
    <button class="btn btn-block" type=""
            style="border-color: #242424;background: #242424;color: rgb(255,255,255);">
      <i class="fa fa-github"></i>&nbsp;&nbsp;Github
    </button>
    <button class="btn btn-block" type="button" style="background: #3b5998;color: rgb(255,255,255);">
      <i class="fa fa-facebook-official"></i>&nbsp;Facebook
    </button>
    <button class="btn btn-block" type="button" style="background: #4284f5;color: rgb(255,255,255);">
      <i class="fa fa-google"></i>&nbsp; Google
    </button>
    <button class="btn btn-block" type="button" style="background: #0077b4;color: rgb(255,255,255);">
      <i class="fa fa-linkedin-square"></i>&nbsp;LinkedIn
    </button>
    <div></div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Senha">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>
  </form>
</div>
